src/main/mule/mule-hcare-chatgpt-db.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="mule-hcare-chatgpt-db-main">
        <http:listener config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Set flow name and transactionId" doc:id="be78c694-768b-463e-b922-c600f6839682" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
flow.name]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="mule-hcare-chatgpt-db-config" />
		<error-handler ref="Global_APIKit_Error_Handler" />
    </flow>
    <flow name="post:\order-details:application\json:mule-hcare-chatgpt-db-config">
		<ee:transform doc:name="set payload and variables" doc:id="5c653390-85e3-485b-87c2-a9da31a1d6b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "userId": payload.userId,
    "orderId": payload.orderId,
    "messages": payload.messages
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
flow.name]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="set token variable" doc:id="5ad4d062-49eb-478b-aa38-38d54711151c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="token" ><![CDATA[%dw 2.0
output application/json
---
"Bearer"++" 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"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1d252719-037e-4fa4-90dd-ea934f9d5134" message="#[vars.dbOutput]"/>
		<http:request method="POST" doc:name="Request" doc:id="e6f039e6-d85d-4161-8430-e52c8a48f7d5" config-ref="http-request-configuration-chatgpt" url="https://api.openai.com/v1/chat/completions">
			<http:body ><![CDATA[#[payload.chatgpt]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : vars.token
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b78849f4-a62a-4fdd-a037-84489cf35730" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.choices[0].message.content]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d5f79c92-ae5d-4840-af47-b7872d1fcf4f" message="#[payload]" />
		
<!-- [STUDIO:"Flow Reference"]		<flow-ref doc:name="Flow Reference" doc:id="44381c3b-3454-45ef-92de-781ae6581aa2" name="test-apiFlow"/> [STUDIO] -->
    </flow>
</mule>
